/* .container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 375px) {
  ul {
    list-style-type: none;
  }

  .container {
    max-width: 375px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
} */

/* .team {
  background-color: var(--seventh-color);
  padding: 60px 0;
}
@media screen and (min-width: 1200px) {
  .team {
    padding: 94px 0;
  }
}
.team__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.team__item {
  background-color: var(--second-color);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
}
@media screen and (min-width: 768px) {
  .team__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    flex-basis: calc((100% - 90px) / 4);
  }
}
.team__tittle {
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 1200px) {
  .team__tittle {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.67;
  }
}
.team__participant {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--first-color);
  margin-bottom: 10px;
}
.team__text {
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--fifth-color);
  margin-bottom: 15px;
}
.team__container-text {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team__participiant-soc {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.team__participiant-soc-icon {
  fill: var(--soc-icon-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team__participiant-soc-link:hover .team__participiant-soc-icon,
.team__participiant-soc-link:focus .team__participiant-soc-icon {
  fill: var(--soc-icon-color-focushover);
}
.team__participiant-soc-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team__participiant-soc-link:hover,
.team__participiant-soc-link:focus {
  background-color: var(--soc-icon-bg-focushover);
} */

.shopping-list {
  padding: 40px 0;
}
.shopping-empty-container {
  margin: 0 auto;
  width: 265px;
  height: 248px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.shopping-list-tittle {
  margin-bottom: 120px;
  margin-top: 0;
  padding-left: 15px;
  color: #111;
  font-size: 32px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: -1.28px;
}
.sh-list-span {
  color: #4f2ee8;
}
.shopping-empty-text {
  margin-bottom: 14px;
  margin-top: 0;
  max-width: 244px;
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
  font-size: 14px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.28px;
}
.shopping-empty-image {
}
@media (max-width: 365px) {
  .shopping-empty-image {
    width: 275px;
  }
}
@media (min-width: 366px) and (max-width: 768px) {
  .shopping-empty-image {
    width: 322px;
  }
}
@media (min-width: 769px) and (max-width: 1440px) {
  .shopping-empty-image {
    width: 322px;
  }
}
